<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ HOME }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
        <img src="assets/logo2.png" alt="Logo" class="header-image">    
        <h1>{{ mpa4sustainability }}</h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">home</a></li>
                <li><a href="{{ '/about' | relative_url }}">about</a></li>
                <li><a href="{{ '/publication' | relative_url }}">publications</a></li>
                <li><a href="{{ '/contact' | relative_url }}">contact</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <main class="container">
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ mpa4sustainability }}</p>
    </footer>
</body>
</html>
